* {
  margin: 0;
  padding: 0;
}

#grid-wrapper {
  width: 600px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  height: 100%;
  gap: 10px;
}

.grid-cell {
  border: solid 1px #9E9E9E;
  height: 100px;
}